.align-middle,
table > tbody > tr > td {
  vertical-align: middle !important;
}

#page-wrapper {
  overflow: auto;
}

a > i.fa-cog {
  color: #333;
}

a > i.fa-cog:hover {
  color: #000;
}

a > i.fa-trash {
  color: #D00;
}

a > i.fa-trash:hover {
  color: #B00;
}

a > i.fa-cog:hover,
a > i.fa-trash:hover,
a.page-link:hover {
  cursor: pointer;
}

.space-bottom {
  margin-bottom: 10px;
}

